{% extends "./../htmlTemplates/user.html" %}

{% block content %}

<a href="/">Home</a>

<h2>Register</h2>
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <p>
        <label for="id_firstName">First Name</label>
        <input type="text" name="first_name" autofocus="" required="" id="id_firstName" >
    </p>    
    <p>
        <label for="id_lastName">Last Name</label> 
        <input type="text" name="last_name" autofocus="" required="" id="id_lastName" >
    </p>
    <p>
        <label for="id_username">Username</label> 
        <input type="text" name="username" autofocus="" required="" id="id_username" >
    </p>
    <p>
        <label for="id_email">Email</label> 
        <input type="text" name="email" autofocus="" required="" id="id_email" >
    </p>
    <p>
        <label for="id_password">Password</label> 
        <input type="text" name="password" autofocus="" required="" id="id_password" >
    </p>
    <button type="submit">Register</button>
</form>
    
{% endblock %}