{% extends "./../htmlTemplates/user.html" %}

{% block content %}

<h2>Add Book</h2>
<form action="{% url 'addBook' %}" method="post">
    {% csrf_token %}
    <p>
        <label for="title">Book's Title</label>
        <input type="text" name="title" autofocus="" required="" id="title" >
    </p>    
    <p>
        <label for="intro">Intro</label>
        <textarea id="intro" name="intro" rows="3"></textarea>
    </p>    
    <p>
        <label for="image_url">Book Image Link</label>
        <input type="text" name="image_url" autofocus="" required="" id="title" >
    </p>    
    <button type="submit">Add to my book list</button>
</form>
    
{% endblock %}