{% extends "./../htmlTemplates/user.html" %}

{% block content %}

<h1>All Book</h1>
{% for book in books %}
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{book.image_url}}" alt="" width="90%">
        </div>
        <div class="col-md-8 text-center">
            <h4><b>{{book.title}}</b></h4>
            <p>{{book.intro}}</p>
        </div>
    </div>
    <hr>
{% endfor %}
{% endblock %}